﻿@model EscuelaDeEsqui.APIs.Application.ViewModel.Client.Edit
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-md-4">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-5">
            <label asp-for="Surname1"></label>
            <input asp-for="Surname1" class="form-control" />
            <span asp-validation-for="Surname1" class="text-danger"></span>
        </div>
        <div class="col-md-5">
            <label asp-for="Surname2"></label>
            <input asp-for="Surname2" class="form-control" />
            <span asp-validation-for="Surname2" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-5">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label asp-for="DNI"></label>
            <input asp-for="DNI" class="form-control" />
            <span asp-validation-for="DNI" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="Nationality"></label>
            <input asp-for="Nationality" class="form-control"/>
            <label asp-for="Nationality" class="text-danger"></label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-3">
            <label asp-for="CompanyName"></label>
            <input asp-for="CompanyName" class="form-control" />
            <span asp-validation-for="CompanyName" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="CompanyCIF"></label>
            <input asp-for="CompanyCIF" class="form-control" />
            <span asp-validation-for="CompanyCIF" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-success">Save</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
