﻿@model EscuelaDeEsqui.APIs.Application.ViewModel.Lesson.Create
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-md-3">
            <label asp-for="DateAndTime"></label>
            <input asp-for="DateAndTime" class="form-control" />
            <span asp-validation-for="DateAndTime" class="text-danger"></span>
        </div>
        <div class=" col-md-3">
            <label asp-for="Duration"></label>
            <input asp-for="Duration" class="form-control" />
            <span asp-validation-for="DateAndTime" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-success">Save</button>
    </div>
</form>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

