﻿@model EscuelaDeEsqui.APIs.Application.ViewModel.Lesson.Create
@{
    ViewData["Title"] = "CreateLessonStudent";
}

<h2>CreateLessonStudent</h2>
<div>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="student.Name"></label>
                <input asp-for="student.Name" class="form-control" id="Name" />
                <span asp-validation-for="student.Name" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="student.Surname1"></label>
                <input asp-for="student.Surname1" class="form-control" id="Surname1" />
                <span asp-validation-for="student.Surname1" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="student.Surname2"></label>
                <input asp-for="student.Surname2" class="form-control" id="Surname2" />
                <span asp-validation-for="student.Surname2" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="student.Email"></label>
                <input asp-for="student.Email" class="form-control" id="Email" />
                <span asp-validation-for="student.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-success">Find</button>
        </div>
    </form>
    @if (Model.Students.Count() != 0)
    {
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname1</th>
                <th>Surname2</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Students)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Surname1</td>
                    <td>@item.Surname2</td>
                    <td>@item.Email</td>
                    <td>
                        <button type="submit" class="btn btn-outline-success">Add</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
    }
</div>