﻿@model EscuelaDeEsqui.APIs.Application.ViewModel.Teacher.NewAbsence
@{
    ViewData["Title"] = "Absence";
}

<h2>Absence</h2>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row hidden">
        <div class="col-md-4">
            <label asp-for="TeacherId"></label>
            <input asp-for="TeacherId" class="form-control"/>
            <span asp-validation-for="TeacherId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label asp-for="date"></label>
            <input asp-for="date" class="form-control" />
            <span asp-validation-for="date" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label asp-for="Duration"></label>
            <select asp-for="Duration" class="form-control" asp-items="@Html.GetEnumSelectList<EscuelaDeEsqui.Domain.Entities.Absence.DurationEnum>()"></select>
            <span asp-validation-for="date" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="AbsenceType"></label>
            <select asp-for="AbsenceType" class="form-control" asp-items="@Html.GetEnumSelectList<EscuelaDeEsqui.Domain.Entities.Absence.AbsenceTypeEnum>()"></select>
            <span asp-validation-for="AbsenceType" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label asp-for="Comments"></label>
            <textarea asp-for="Comments" class="form-control" rows="2"></textarea>
            <span asp-validation-for="Comments" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-success">Save</button>
    </div>
</form>
