﻿@model EscuelaDeEsqui.APIs.ViewModel.SearchResult
@{
    ViewData["Title"] = "SearchForTeacherInformation";
}

<h2>SearchForTeacherInformation</h2>
<div>
    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="search.Name"></label>
                <input asp-for="search.Name" class="form-control" id="Name"/>
                <span asp-validation-for="search.Name" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="search.Surname1"></label>
                <input asp-for="search.Surname1" class="form-control" id="Surname1"/>
                <span asp-validation-for="search.Surname1" class="text-danger"></span>
            </div>
            <div class="col-md-3">
                <label asp-for="search.Surname2"></label>
                <input asp-for="search.Surname2" class="form-control" id="Surname2"/>
                <span asp-validation-for="search.Surname2" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3">
                <label asp-for="search.DNI"></label>
                <input asp-for="search.DNI" class="form-control" id="DNI"/>
                <span asp-validation-for="search.DNI" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-success" onclick="return Validate()">Find</button>
        </div>
    </form>
    @if (Model.searches.Count() != 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Surname1</th>
                    <th>Surname2</th>
                    <th>Dni</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.searches)
                {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Surname1</td>
                    <td>@item.Surname2</td>
                    <td>@item.DNI</td>
                    <td>@Html.ActionLink("View Information", nameof(EscuelaDeEsqui.Controllers.TeachersController.ViewTeacherInformation), new { TeacherId = item.TeacherId }) |
                        @Html.ActionLink("Edit", nameof(EscuelaDeEsqui.Controllers.TeachersController.Edit), new { TeacherId = item.TeacherId }) |
                        @Html.ActionLink("Disactive", nameof(EscuelaDeEsqui.Controllers.TeachersController.Disactive), new { TeacherId = item.TeacherId }) |
                        @Html.ActionLink("Absence", nameof(EscuelaDeEsqui.Controllers.TeachersController.Absence), new { TeacherId = item.TeacherId })</td>
                </tr>
                }
            </tbody>
        </table>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
