﻿@model EscuelaDeEsqui.APIs.Application.ViewModel.Teacher.PersonalInformation
@{
    ViewData["Title"] = "ViewTeacherInformation";
}

<h2>ViewTeacherInformation</h2>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group row">
        <div class="col-md-4">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-5">
            <label asp-for="Surname1"></label>
            <input asp-for="Surname1" class="form-control" />
            <span asp-validation-for="Surname1" class="text-danger"></span>
        </div>
        <div class="col-md-5">
            <label asp-for="Surname2"></label>
            <input asp-for="Surname2" class="form-control" />
            <span asp-validation-for="Surname2" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-5">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label asp-for="DNI"></label>
            <input asp-for="DNI" class="form-control" />
            <span asp-validation-for="DNI" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="Nationality"></label>
            <input asp-for="Nationality" class="form-control" />
            <span asp-validation-for="Nationality" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-4">
            <label asp-for="SocialSecurityNumber"></label>
            <input asp-for="SocialSecurityNumber" class="form-control" />
            <span asp-validation-for="SocialSecurityNumber" class=" text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="IRPFPerfectage"></label>
            <input asp-for="IRPFPerfectage" class="form-control" />
            <span asp-validation-for="IRPFPerfectage" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-2">
            <label asp-for="Tittle"></label>
            <input asp-for="Tittle" class="form-control" />
            <span asp-validation-for="Tittle" class="text-danger"></span>
        </div>
        <div class="col-md-3">
            <label asp-for="Salary"></label>
            <input asp-for="Salary" class="form-control" />
            <span asp-validation-for="Salary" class="text-danger"></span>
        </div>
        <div class="col-md-2">
            <label asp-for="State"></label>
            <input asp-for="State" class="form-control" />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-1">
            <label asp-for="IBAN"></label>
            <input asp-for="IBAN" class="form-control" />
            <span asp-validation-for="IBAN" class="text-danger"></span>
        </div>
        <div class="col-md-1">
            <label asp-for="BankIdentifier">Bank</label>
            <input asp-for="BankIdentifier" class="form-control" />
            <span asp-validation-for="BankIdentifier" class="text-danger"></span>
        </div>
        <div class="col-md-1">
            <label asp-for="BranchIdentifier">Branch</label>
            <input asp-for="BranchIdentifier" class="form-control" />
            <span asp-validation-for="BranchIdentifier" class="text-danger"></span>
        </div>
        <div class="col-lg-3">
            <label asp-for="AccountNumber"></label>
            <input asp-for="AccountNumber" class="form-control" />
            <span asp-validation-for="AccountNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-outline-success">Back</button>
    </div>
</form>
